<body style="background-color:#FFC0CB;">
<%=form_for @posts,:url=>user_posts_path do |f|%>
<h3 style="font-family:verdana;color:#C71585;"><%=f.label :title%>
<%=f.text_field :title%></h3>
<h3 style="font-family:verdana;color:#C71585;"><%=f.label :description%>
<%=f.text_field :description%></h3>
<%=f.submit "Update"%>
<%end%>
</body>
