<body style="background-color:#B0E0E6;">
<%=form_for @user do |f|%>
<h3 style="font-family:verdana;color:#800080;"><%=f.label :name%>
<%=f.text_field :name%></h3>
<h3 style="font-family:verdana;color:#800080;"><%=f.label :email%>
<%=f.email_field :email%></h3>
<h3 style="font-family:verdana;color:#800080;"><%=f.label :dept%>
<%=f.text_field :dept%></h3>
<h3 style="font-family:verdana;color:#800080;"><%=f.label :roll%>
<%=f.text_field :roll%></h3>
<h3 style="font-family:verdana;color:#800080;"><%=f.label :age%>
<%=f.text_field :age%></h3>
<h3 style="font-family:verdana;color:#800080;"><%=f.label :contact_no%>
<%=f.text_field :contact_no%></h3>
<%=f.submit "Update"%>

<%end%>
</body>
