<body style="background-color:#ADFF2F;">
<%=form_for @user do |f|%>
<h3 style="font-family:verdana;color:#0066CC;"><%=f.label :name%>
<%=f.text_field :name%></h3>
<h3 style="font-family:verdana;color:#0066CC;"><%=f.label :email%>
<%=f.email_field :email%></h3>
<h3 style="font-family:verdana;color:#0066CC;"><%=f.label :dept%>
<%=f.text_field :dept%></h3>
<h3 style="font-family:verdana;color:#0066CC;"><%=f.label :roll%>
<%=f.text_field :roll%></h3>
<h3 style="font-family:verdana;color:#0066CC;"><%=f.label :age%>
<%=f.text_field :age%></h3>
<h3 style="font-family:verdana;color:#0066CC;"><%=f.label :contact_no%>
<%=f.text_field :contact_no%></h3>
<%=f.submit%>
</body>

<%end%>

